@mixin box-size($width:100%, $height:100%) {
  width: $width;
  height: $height;
}

@mixin flex($direction:row, $break:nowrap, $alignWidth:center, $alignHeight:center) {
  display: flex;
  flex-flow: $direction $break;
  justify-content: $alignWidth;
  align-items: $alignHeight;
}