<footer>
    <section class="footer-user">
        <span class="copyright">&copy; 2018 Carlos Caballero</span>
    </section>

    <section class="footer-ghost">
        <span class="information">Proudly published with
            <a class="author" target="_blank" href="https://ghost.org">Ghost</a>
            . This theme is
            <a class="author" href="https://github.com/caballerog/ares-designer" target="_blank">Ares designer.</a>
        </span>
    </section>
</footer>