<header>
    <hgroup id="hamburgerButton"><i class="fas fa-bars hamburger-button"></i></hgroup>

    <figure class="header-logotype"><a class="logotype-link" href="https://carloscaballero.io">carlos caballero</a>
    </figure>

    <nav>
        <ul class="menu">
            <li class="menu-item-wrapper"><a class="menu-item" href="https://www.carloscaballero.io/">home</a></li>
            <li class="menu-item-wrapper"><a class="menu-item"
                    href="https://www.carloscaballero.io/speakings/">speakings</a></li>
            <li class="menu-item-wrapper"><a class="menu-item"
                    href="https://www.carloscaballero.io/publications/">publications</a></li>
            <li class="menu-item-wrapper"><a class="menu-item"
                    href="https://www.carloscaballero.io/projects/">projects</a></li>
            <li class="menu-item-wrapper"><a class="menu-item" href="https://www.carloscaballero.io/about/">about</a>
            </li>
        </ul>
    </nav>
</header>