.aside-off {
  left: -100%;
}

.aside-on {
  left: 0;
}
ol.tick-style-list,
ul.tick-style-list {
  li {
    background-image: url(/assets/img//check-solid.svg);
    background-position: 0px 0px;
    background-size: 17px;
  }
}

ol.warn-style-list,
ul.warn-style-list {
  li {
    background-image: url(/assets/img/exclamation-triangle-solid.svg);
    background-position: 0px 0px;
    background-size: 17px;
  }
}
ol.jedi-style-list,
ul.jedi-style-list {
  li {
    background-image: url(/assets/img/jedi-order-brands.svg);
    background-position: 0px -2px;
    background-size: 17px;
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
